In [1]:
import numpy as np
import pandas as pd
import os
from utils.preprocess import *

In [2]:
folder = '../data/'

articles = pd.read_csv(os.path.join(folder, "articles.csv"))
customers = pd.read_csv(os.path.join(folder, "customers.csv"))
transactions = pd.read_csv(os.path.join(folder, "transactions_train.csv"))

transactions = make_weeknum_col(transactions)
# week_num 0 is latest week of the transaction
tr_train, tr_val = split_train_valid(transactions, 0)
tr_val = valid2submission(tr_val)

tr_val.head()

,customer_id,article_id
0,00039306476aaf41a07fed942884f16b30abfa83a2a8be...,0624486001
1,0003e867a930d0d6842f923d6ba7c9b77aba33fe2a0fbf...,0827487003
2,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0757926001 0788575004 0640021019
3,000525e3fe01600d717da8423643a8303390a055c578ed...,0874110016
4,00077dbd5c4a4991e092e63893ccf29294a9d5c46e8501...,0903762001 0879189005 0158340001 0867966009 09...